<h1>My Datasheet</h1>
<div class="row">
    {{#each result}}
      <div class="col-12">
         <div>{{productid}}</div>
         <div>{{product_sku}}</div> 
         <div>{{product_name}}</div> 
         <div><img src={{zoom_image}} alt="Trulli" width="500" height="333"></div>
         <div><img src={{thumbnail_image}} alt="Trulli" width="500" height="333"></div>
         <div><img src={{standard_image}} alt="Trulli" width="500" height="333"></div>
         <div><img src={{tiny_image}} alt="Trulli" width="75" height="75"></div>
         <div>{{{truncate short_description 1400}}}</div>
           
      </div> 

      
         <div class="tech-specs-header">
         <p>
            Technical Specifications
            <br>
            <span class="underline"></span>
         </p>
      </div>


    {{else}}
      <p>No Datasheet Found</p>

    {{/each}}
    <div class="benefits">
            <span class="benefits-header">Benefits</span><br>
            <table>
              
            {{dsheet_benefits_name}}
            {{dsheet_benefits_value}}
            
            </table>
         </div>
         <div class="features">
            <span class="features-header">Features</span><br>
            <table>
             
            </table>
         </div>
    
</div>